// Colors - Names must be defined using http://chir.ag/projects/name-that-color
$white: #FFF;
$black: #000;
$daintree: #02283B;
$tradewind: #64BEB5;
$dusty-gray: #9B9B9B;
$gallery: #EEE;
$yellow-green: #B8E986;
$dusty-gray-wizard: #979797;
$silver-chalice: #A2A2A2;
$alto: #D8D8D8;
$tundora: #4A4A4A;
$mercury: #E8E8E8;
$koromiko: #FFC165;
$bittersweet: #FF7474;
$mine-shaft: #222;
$silver: #CCC;
$japanese-laurel: #008000;
$peppermint: #DFF0D8;
$zanah: #D0E9C6;
$killarney: #3C763D;
$bizarre: #F2DEDE;
$oyster-pink: #EBCCCC;
$apple-blossom: #A94442;
$pearl-lusta: #FCF8E3;
$champagne: #FAF2CC;
$potters-clay: #8A6D3B;
$casper: #A3BFCC;
$turquoise-blue: #61C9ED;
$monza: #D0011B;
$chambray: #3B5998;
$picton-blue: #3CD8FA;
$portage: #A37CEE;
$onahau: #CEFFFF;
$anakiwa: #9BCDFD;
$golden-fizz: #FFFD38;
$mantis: #61BD4F;

// Colors with opacity
$daintree-02: rgba($daintree, 0.2);
$daintree-04: rgba($daintree, 0.4);
$daintree-005: rgba($daintree, 0.05);
$japanese-laurel-06: rgba($japanese-laurel, 0.6);
