body {
  background-color: #F2F6F6;
}

.catastrophe-container {
  padding: 15px;
  width: 100%;
}

.page-container {
  display: flex;
  width: 100%;
}

.element {
  background: white;
  padding: 0;
  border: 1px lightgray solid;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.catastrophe-main, .dont-care-for-name {
  display: flex;
  justify-content: space-between;
}

.dont-care-for-name {
  flex-wrap: wrap;
  margin-right: 50px;
  width: 50%;
}

.map-container {
  background: #987B62;
  width: 50%;
  padding: 5px;
}

.top-items {
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: space-around;
  padding: 0;

  & > li {
    display: inline-flex;
    align-items: center;
    border-radius: 2px;
    color: white;
    flex: 1;
    margin: 5px;
    height: 140px;
  }

  .item-image {
    width: 40%;
    max-height: 90%;
  }
}

.li-1 {
  background-color: #E8B4BC;
}

.li-2 {
  background: #29ABE2;
}

.li-3 {
  background: #7FD1B9;
}

.li-4 {
  background: #C6CAED;
}

.li-image {
  background: rgba(darkgray, 0.3);
  border-radius: 100%;
  width: 60px;
  padding: 5px;
}

.li-text {
  height: 60px;
  padding: 0 10px;
}

.li-main {
  margin: 0;
}

.other-information {
  margin-top: 20px;
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
}

#recent-information {
  flex: 1;
  list-style: none;
  padding: 0;
  overflow-y: scroll;
}

.recent-item {
  width: 100%;
  margin: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  justify-content: space-between;

  & > * {
    margin: 0;
  }

  &:nth-child(even) {
    background: rgba(#29ABE2, 0.6);
  }
  &:nth-child(odd) {
    background: rgba(#7FD1B9, 0.6);
  }
}

.drone-image,
.delete-item {
  height: 100%;
  padding: 0 5px;

  display: flex;
  align-items: center;
  background: rgb(228, 95, 77);
  font-weight: bold;
  color:  white;
  border: 0;

 &,
 &:link,
 &:active,
 &:hover,
 &:visited {
   color: white;
   text-decoration: none;
 }
}

.drone-image {
  background: #29ABE2;
  min-width: 90px;
}

.catastrophe {
  width: 100%;
  height: 280px;
}

.percent-items-list {
  margin-bottom: 20px;
  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  list-style: none;

  & > li {
    display: flex;
    align-items: center;
    flex: 1;
    background: rgba(0,0,0, 0.8);
    border: 1px lightgray solid;
    height: 100px;
    padding: 10px;

    &:not(:first-child) {
      margin: 0 0 0 20px;
    }
  }

  .progress {
    flex: 4;
    height: 40px;
    border-radius: 0;
    margin: 0;

    .progress-bar,
    .resto-de-la-barra {
      color: black;
      font-size: 20px !important;
      text-align: center;
      height: 100%;
      line-height: 40px;
    }
  }
}

.progress-bar {
  background: #EDAC17;
}

.progress-bar-text {
  color: #EDAC17;
}

.percent-list-text {
  display: flex;
  justify-content: space-between;
  flex: 3;

  & > * {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }
}

.title-boxed {
  height: 60px;
  margin: 0;
  padding: 5px;
  text-align: center;
  color: white;
  background: #987B62;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-span {
  padding-left: 5px;
}

.center {
  text-align: center;
}

.height-100 {
  height: 100%;
}

.space-around {
  justify-content: space-around;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.font-size-60 {
  font-size: 60px;
}

.background-blue {
  background: #D1DEDE;
}

.location-paragraph {
  background: #fafafa;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

.description-paragraph {
  background: rgb(222,222,222);
  height: 40px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 30px;
}

.simulation {
  background: lightblue;
  position: absolute;
  top: 0;
  right: 0;
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-top: 10px;
}

.simulation-button {
  height: 40px;
  line-height: 40px;
  border: 0;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
