$sidebar-bg: #30638E;

.sidebar {
  background: $sidebar-bg;
  width: 220px;
  margin-right: 20px;
}

.sidebar-logo {
  width: 100%;
  height: 140px;
}

.sidebar-button {
  width: 100%;
  height: 70px;
  background: rgba($sidebar-bg, 0.2);
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: white;
  cursor: pointer;
  border: 1px solid black;

  &:not(:last-child) {
    border-bottom: 0;
  }

  &:hover {
    font-weight: bold;
  }

  & > a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }
  }
}
